@model List<SmartHome.BL.DTO.HeatViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Heaters</h2>

@{int switcher = 0;}

@foreach (var b in Model)
{
    <div class="device">
        <p>
            <div class="onoffswitch">
                @if (b.Condition)
                {
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"  checked>
                }
                else
                {
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                }
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <br />
            Type : @b.Type.Name<br />
            Name : @b.Name<br />
            Location : @b.Location<br />
            Temperature : @b.Temperature<br />
            Temperature Range : @b.MinTemperature - @b.MaxTemperature<br />
            <button type="submit" class="btn btn-info" onclick="editItem('@b.Id.ToString()', '@Url.Action("Edit", "Heat")')">Edit</button><br />
            <button type="submit" class="btn btn-danger" onclick="deleteItem('@b.Id.ToString()', '@b.Name', '@Url.Action("Delete", "Heat")')">Delete</button>
            <div>
                <input type="text" class="js-check-change" onclick="displayChange()" />
                <input type="text" class="js-display-change" />
            </div>
        </p>
        <hr />
    </div>
}

<button type="submit" class="btn btn-success" onclick="redirect('@Url.Action("Create", "Heat")')">Create</button>


@section scripts{
    <script>
        function deleteItem(id, name, url) {
            if (confirm("Are you sure you want delete broiler " + name)) {
                window.location = url + "/" + id;
            }
        };

        function redirect(url)
        {
            window.location = url;
        }

        function editItem(id, url) {
            window.location = url + "/" + id;
        };

        window.onload = function loadRange(minValue, maxValue, current) {
            var elem = document.querySelector('.js-check-change');
            var init = new Powerange(elem, { min: 16, max: 256, start: 128 });
        }

        function displayChange() {
            var changeInput = document.querySelector('.js-check-change');
            document.getElementById('js-display-change').innerHTML = changeInput.value;
        };
    </script>
}