@model List<SmartHome.BL.DTO.AudioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audio Devices</h2>

<div class="devices">

    @foreach (var a in Model)
    {
        <div class="item">
            <div class="item-info">
                <p>
                    <h5>@a.Name</h5>
                    <div class="onoffswitch">
                        @if (a.Condition)
                        {
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" checked>
                        }
                        else
                        {
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                        }
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <br />
                    Type : @a.TypeName<br />
                    Location : @a.Location<br />
                    Volume : @a.Volume<br />
                    Volume Range : @a.MinVolume - @a.MaxVolume<br />
                    <button type="submit" class="btn btn-info" onclick="editItem('@a.Id.ToString()', '@Url.Action("Edit", "Audio")')">Edit</button>
                    <button type="submit" class="btn btn-danger" onclick="deleteItem('@a.Id.ToString()', '@a.Name', '@Url.Action("Delete", "Audio")')">Delete</button>
                </p>
            </div>
        </div>
    }

</div>

<button type="submit" class="btn btn-success" onclick="redirect('@Url.Action("Create", "Audio")')">Create</button>

@section scripts{
    <script>
        function deleteItem(id, name, url) {
            if (confirm("Are you sure you want delete audio device : " + name)) {
                window.location = url + "/" + id;
            }
        };

        function redirect(url) {
            window.location = url;
        };

        function editItem(id, url) {
            window.location = url + "/" + id;
        };
    </script>
}